<div class="icons-container">
  <div class="icons">
    <a href="#"><i class="bi bi-twitter"></i></a>
  </div>
  <div class="icons">
    <a href="#"><i class="bi bi-instagram"></i></a>
  </div>
  <div class="icons">
    <a href="#"><i class="bi bi-facebook"></i></a>
  </div>
  <div class="icons">
    <a href="#"><i class="bi bi-geo-alt-fill"></i></a>
  </div>
</div>
<div class="links">
  <a class="footer-link" href="#">Home</a>
  <a class="footer-link" href="#">Services</a>
  <a class="footer-link" href="#">About</a>
  <a class="footer-link" href="#">Terms</a>
  <a class="footer-link" href="#">Privacy Policy</a>
</div>
<p>Tinyapp © 2022</p>
